.achievements-wrapper {
    background-color: $lightBgColor;
    //padding: 50px 0;

    .heading-wrap-achievements {
        margin: 70px auto;
    }

    #owl-demo {

        .owl-item {
            //width: 200px !important;
          }

        .item-owl-wrap {
            position: relative;
            width: 200px;
            padding: 0;
            margin: 0;
            position: relative;
            vertical-align: top;
            text-align: center;

            .avatar {
                transform: rotateY(0deg) rotateY(0deg);
                transform-style: preserve-3d;
                backface-visibility: hidden;
                opacity: 1;
                transition: all .35s ease;
                &:hover {
                    transform: rotateY(180deg);
                    opacity: 0;
                    transition: all .35s ease;
                }

                img {
                    margin-bottom: 20px;
                    width: 198px;
                    height: 120px;
                }
                .avatar-header{
                    padding: 0 10px;
                } 
         } // .avatar    
            
    } //.item-owl-wrap 
            
        .details {
            background-color: #e21712;
            padding: 15px;
            color: #fff;
            font-size: 12px;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            transition: all .4s ease-in-out;
            transform: rotateY(-180deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            opacity: 0;
            transition: all .35s ease;
            &:after {
                background: none repeat scroll 0 0 #ffc908;
                content: "";
                height: 15px;
                position: absolute;
                right: -10px;
                bottom: -5px;
                transform: rotate(-45deg);
                width: 25px;
            }
            .details-header {
                font-size: 15px;
                padding-bottom: 8px;
            }
            .fa-box-arrow {
                border: 1px solid #fff;
                color: #fff;
                display: block;
                height: 25px;
                padding: 5px;
                position: relative;
                text-align: center;
                width: 25px;
                margin-top: 10px;
                transition: all .35s ease;
                &:hover {
                    background: none repeat scroll 0 0 #ffc908;
                    border-color: #ffc908;
                }
                i {
                    color: #fff;
                    left: 8px;
                    position: absolute;
                    top: 5px;
                }
            }
        } // .details

        .item-owl-wrap{
            &:hover {
                .details {
                    z-index: 10;
                    position: absolute;
                    transform: rotateY(0deg) rotateY(0deg);
                    opacity: 1;
                    transition: all .35s ease;
                }
            }   
        } // item-owl-wrap   
    } // #owl-demo

} // .acievements-wrapper
