.post {
	margin-bottom: 40px;

	.entry-media {
		position: relative;

		.box-date-post {
			background: none repeat scroll 0 0 $mainColor;
			color: #fff;
			height: 82px;
			left: -20px;
			padding: 10px 20px;
			position: absolute;
			top: 0;
			width: 80px;
			z-index: 78;
			transition: all .3s ease-out;
			&:before {
				transition: all .3s ease-out;
				content: '';
				border: 12px solid transparent;
				border-top-color: $mainColor;
				border-right-color: $mainColor;
				position: absolute;
				right: -11px;
				top: 30px;
				transform: rotate(45deg);
			}
			&:after {
				transition: all .3s ease-out;
				content: '';
				border: 5px solid transparent;
				border-top-color: $secondColor;
				border-right-color: $secondColor;
				position: absolute;
				left: 2px;
				top: 2px;
				transform: rotate(-90deg);
			}
			.date-1 {
				display: block;
				font-weight: bold;
				font-size: 26px;
				line-height: 38px;
			}
			.date-2 {
				font-size: 14px;
			}	
		} // .box-date-post 

		.entry-thumbnail {
			border: 1px solid #ddd;
			overflow: hidden;
			float: none;
			position: relative;

			.sticky-post {
				background: $secondColor;
				color: #fff;
				display: block;
				font-size: 25px;
				height: 109px;
				line-height: 1;
				padding: 31px 10px 0 32px;
				position: absolute;
				right: -70px;
				top: -53px;
				transform: rotate(-45deg);
				width: 100px;
				z-index: 777;
				i {
					font-size: 15px;
					left: -26px;
					position: relative;
					top: -7px;
					transform: rotate(45deg);
				}
			}
			.post-type-media {
				background: none repeat scroll 0 0 #fff;
				bottom: -58px;
				color: #000;
				display: block;
				font-size: 31px;
				height: 150px;
				left: -36px;
				line-height: 1;
				padding: 48px 10px 0 30px;
				position: absolute;
				text-align: right;
				transform: rotate(-45deg);
				width: 100px;
				z-index: 777;
				i {
					display: block;
					//font-weight: lighter;
					transform: rotate(45deg);
				}
			}
		} // /.entry-thumbnail
		.img-overlay {
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
			height: 100%;
			opacity: 0;
			padding-top: 50%;
			position: absolute;
			text-align: center;
			transition: all 1s;
			visibility: hidden;
			width: 100%;
			z-index: 1;
			.link-view-more {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				&:after {
					color: #fff;
					left: 50%;
					position: absolute;
					top: 38%;
					transition: all 1s;
					font-size: 42px;
					content: '+';
					font-family: 'Times New Roman';
				}	
			} // .link-view-more
		} // .img-overlay
		img {
			width: 100%;
			height: auto;
			transition: all 1s;
			vertical-align: middle;
		}

		&:hover{
			.box-date-post {
				top: -10px;
			}
			.img-overlay {
				visibility: visible;
				opacity: 1;
			}
			.link-view-more {
				&:after {
					text-decoration: none;
					transform: rotate(360deg);
				}
			}	
		} // .entry-media:hover
		
		.blockquote {
			background: none repeat scroll 0 0 #000;
			color: #fff;
			margin-bottom: 0px;
			padding: 30px 30px 30px 90px;
			position: relative;
			font-style: italic;
			font-size: 17px;
			display: inline-block;
			a {
				color: #fff;
				text-decoration: none;
			}
			.blockquote-autor {
				display: inline-block;
				float: right;
				font-family: 'Oswald', sans-serif;
				font-style: italic;
				font-size: 20px;
				text-transform: uppercase;
				position: relative;
			
				&:after {
					content: '';
					border: 1px solid $secondColor;
					border-left: 0;
					border-right: 0;
					position: absolute;
					padding: 1px;
					top: -7px;
					right: 0;	
					display: block;
					width: 40px;
				}
			}
		}			
	} // .entry-media

	.entry-main {
		background: none repeat scroll 0 0 #f4f4f4;
		padding: 30px;
		position: relative;

		.entry-title {
			margin: 0 0 10px 0;
			text-transform: uppercase;
			font-size: 20px;
			a {
				color: #000;
			}
		}
		.entry-content {
			line-height: 1.333;
			margin-bottom: 10px;
			transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);

			.view-post-btn {
				font-family: 'Oswald', sans-serif;
				background: none repeat scroll 0 0 #fff;
				border: 1px solid #ddd;
				display: inline-block;
				font-size: 14px;
				margin-top: 15px;
				padding: 10px 20px;
				position: relative;
				text-transform: uppercase;
				text-decoration: none;
				transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
				color: #000;
		
				&:before {
					transition: all .3s ease-out;
					content: '';
					border: 4px solid transparent;
					border-top-color: $secondColor;
					border-right-color: $secondColor;
					right: 3px;
					position: absolute;
					top: 3px;
				}
				&:hover {
					background: $mainColor;
					color: #fff;
				}
			}
		} // .entry-content


	} // .entry-main

} // .post


  .fotorama__arr {
	
  }



