.contact-us-section {
    color: $white;

    .heading-wrap-contact {
        margin-bottom: 60px;

        .section-subheading { 
            margin-bottom: 30px;
        }   
    }
    #contactForm {
        .form-group {
            position: relative;  
            input {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                border: 2px solid #fff;
                font-size: 13px;
                text-transform: uppercase;
                height: auto;
                padding: 10px;
                margin-bottom: 22px;
                transition: all .3s ease-out;
                border-radius: 0;
                color: #fff;
                &:focus {
                    box-shadow: none;
                    border-color: #ffc908;
                    }
            }
            textarea {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                border: 2px solid #fff;
                font-family: "latolight";
                font-size: 13px;
                height: 114px;
                margin-bottom: 22px;
                text-transform: uppercase;
                transition: all .3s ease-out;
                color: #fff;
                border-radius: 0;
                
                &:focus {
                    box-shadow: none;
                    border-color: #ffc908;
                    }
            }
        } // .form-group
    } // #contactForm

    .icon-set-wrap {
        display: inline-block;
        float: left;
        margin-bottom: 5px;
        width: 100%;
        
        .icon-set {
            border: 2px solid #e21712;
            border-radius: 100px;
            float: left;
            padding: 8px;
            width: 50px;
            height: 50px;
            font-size: 20px;
        }
        .content-icon-set {
            float: left;
            padding: 8px 0 15px 15px;
            width: 195px;
            text-align: left;
            font-size: 14px;
            line-height: 20px;
    
            a {
                color: #fff;
                padding: 5px 2px;
                transition: all .3s ease-out;
                &:hover {
                    background: none repeat scroll 0 0 #e21712;
                    color: #fff;
                    text-decoration: none !important;
                }
            }
        } // .content-icon-set
    
    } // .icon-set-wrap
    
}


