@media only screen and (min-width : 1200px) {
    .home-section {
        overflow: hidden;
    }
    .section-footer {
        padding-top: 90px;
        position: relative;
        .sf-left {
            //border-radius: 100px;
            border-radius: 70px;
            bottom: -346px;
            content: "";
            height: 288px;
            left: 67%;
            position: absolute;
            transform: rotate(7deg);
            width: 1960px;
        }
        .sf-right {
            border-radius: 100px;
            bottom: -328px;
            content: "";
            height: 288px;
            position: absolute;
            right: 16%;
            transform: rotate(-6deg);
            width: 1960px;
        }
    }
    
    .sf-type-2 {
        .sf-left {
            border-radius: 0;
            bottom: -270px;
            content: "";
            height: 288px;
            left: -2000px;
            position: absolute;
            transform: rotate(7deg);
            width: 3000px;
        }
        .sf-right {
            border-radius: 0;
            bottom: -225px;
            content: "";
            height: 288px;
            left: 0;
            position: absolute;
            transform: rotate(-5deg);
            width: 3000px;
        }
    }
}
    