.main-header {
    
    .main-menu {
      background-color: $mainColor;     
    }  
        .navbar {
            padding: 0; 
    
            @media only screen and (max-width: 768px){
                width: 100%;
            }
            
            .navbar-nav {
                flex-direction: row;

                @media only screen and (max-width: 768px){
                    flex-direction: column;
                }
            }

            .nav-item {
                position: relative;
                .nav-link {
                    color: $white;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 14px 16px;
                    text-transform: uppercase;

                    @media only screen and (max-width: 768px){
                        width: 100%;
                        padding: 6px 16px;
                    }
                }
                    &:hover {
                        .nav-link {
                            box-shadow: 1px 0 10px 6px #cd1410 inset;
                        }
                    }
                }
                .sub-menu {
                    left: -9999px;
                    overflow: hidden;
                    position: absolute;
                    top: -9999px;
                    z-index: 2;
                    padding-top: 5px;
                    margin-top: 0;
                    border: none;
                    background-color: $thirdColor;
                    transform: scaleY(0);
                    transform-origin: 0 0;
                    transition: transform 0.3s linear;
                    li {
                        font-weight: 300;
                        color: #cccccc;
                        font-size: 13px;
                        position: relative;
                        text-transform: uppercase;
                        a {
                            position: relative;
                            display: block;
                            padding: 7px 20px;
                            clear: both;
                            margin: 0;
                            line-height: 1.42857143;
                            white-space: nowrap;
                            font-weight: 300;
                            color: #cccccc;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                } // .sub-menu
            }
        } // .navbar
        
/* fixed to top menu */

.navbar-default {
    border-color: transparent;
}
.navbar-fixed-top {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 10;
} 


/* for hamburger menu */
.mobile-menu {
    background-color: #000;
}
.navbar-row {
    width: 100%;
    
    @media only screen and (max-width: 590px){
        padding: 0 0 0 5px;
    }
}
.navbar-toggler {
    display: none;
    padding: 0;
    @media only screen and (max-width: 991px){
       display: block;
     } 
}
.hamburger {
    cursor: pointer;
    margin: 7px auto 5px 5px;
    padding-left: 1.25em;
    position: relative;
    width: 35px;
    height: 30px;
 
    .hamburger-global {
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        border-top: 2.5px solid white;
        width: 100%;
        transition: 0.55s;
    }
    .hamburger-top {
        top: 0;
    }
    .hamburger-middle {
        top: 11px;
    }
    .hamburger-bottom {
        top: 22px;
    }
    /*
    .hamburger-top-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(50deg);
        transition: 0.55s 0.5s;
    }
    .hamburger-middle-click {
        opacity: 0;
    }
    .hamburger-bottom-click {
        backface-visibility: hidden;
        top: 15px;
        transform: rotate(-410deg);
        transition: 0.55s 0.5s;
    }
    */
}

