.services-wrapper {
	background-color: $lightBgColor;
	padding-bottom: 70px;
	
	.service-item {
		margin-bottom: 30px;
		font-size: 13px;
		color: #000;

		.service-icon {
			background: none repeat scroll 0 0 #fff;
			display: inline-block;
			overflow: hidden;
			padding: 20px;
			position: relative;
			margin-bottom: 30px;
			
			&:after {
				background: none repeat scroll 0 0 #e21712;
				content: "";
				height: 10px;
				position: absolute;
				right: -10px;
				top: -5px;
				transform: rotate(45deg);
				width: 25px;
			}
		} // .service-icon
		&:hover {
			.service-icon{
				&:after {
				background-color: #ffc908;
				}
			}
			.service-heading {
				color: #e21712;
			}
		}
		.service-heading {
			margin: 0 0 20px;
			font-family: 'latoregular';
			text-transform: uppercase;
			font-size: 16px;
			color: #000;
		}
	} // .service-item		
}
.services-wrapper-page {
	background-color: #fff;
	.service-icon {
		background-color: $lightBgColor !important;
	}

}
