.widget {
	margin-bottom: 35px;

    .widget-title {
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        padding: 10px;
        position: relative;
        text-transform: uppercase;
        background: #000000;
        color: #fff;
        margin-bottom: 10px;
        &:before {
            transition: all .3s ease-out;
            content: '';
            border: 4px solid transparent;
            border-top-color: $secondColor;
            border-right-color: $secondColor;
            right: 3px;
            position: absolute;
            top: 3px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
    }

} // .widget

.widget-search {
    #searchform {
        position: relative;
        input {
            border: 1px solid #dddddd;
            padding: 14px 57px 14px 14px;
            width: 100%;
            font-style: italic;
            color: #dddddd;
        }
    }
    button {
        border: medium none;
        background: none;
        padding: 7px 10px;
        position: absolute;
        right: 12px;
        top: 8px;
    }
} // .widget-search

.widget-category {

    .category-list {
        margin: 0;
        padding: 0;
        li {
            border-bottom: 1px solid #ddd;
            display: block;
            padding: 10px 10px 10px 30px;
            text-transform: uppercase;
            position: relative;
            a {
                color: #000;
            }
            &:before {
                transition: all .3s ease-out;
                content: '';
                border: 4px solid transparent;
                border-top-color: $secondColor;
                border-right-color: $secondColor;
                left: 10px;
                position: absolute;
                top: 15px;
            }
            &:hover {
                background-color: $mainColor;
                color: #fff;
                text-decoration: none;
                    &:before {
                        top: 40%;
                        transform: rotate(45deg);
                    }
                    a {
                        color: #fff;
                    }
            }
        }
   }

} // .widget-category

/*.widget-tabbed {*/

    .nav-tabs-sidebar {
        li {
            float: left;
            margin-bottom: -1px;
            a {
                font-size: 14px;
                margin-right: 0;
                line-height: 1.42857143;
                border: 1px solid transparent;
                border-radius: 0;
                position: relative;
                display: block;
                padding: 10px 15px;
                color: #000;
                text-decoration: none;
                background: transparent;
                &:focus {
                    outline: thin dotted;
                    outline: 5px auto -webkit-focus-ring-color;
                    outline-offset: -2px;
                }
                &.active {
                    border-top: 3px solid #000 !important; 
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-bottom-color: transparent;
                    cursor: default; 
                }
            }
            &:hover {
                a {
                    border-top: 3px solid #000 !important; 
                    &:hover {
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-bottom-color: transparent;
                        cursor: default;
                    }
                   
                }
            }
        }
    } // .nav-tabs
    .tab-content {
        display: inline-block;
        padding-top: 25px;
        .active {
            display: block;
        }
        li {
            margin-bottom: 15px;
        }
        .entry-thumbnail {
            max-width: 50px;
            border: 1px solid #ddd;
            float: left;
            margin-bottom: 10px;
            margin-right: 10px; 
            img {
                width: 100%;
                height: auto;
                vertical-align: middle;
            }
        }
        .entry-header {
            margin-bottom: 10px;
            margin-top: 0;
            position: relative;
            .entry-title {
                a {
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #000;
                }
            }
            .entry-title-easy {
                a {
                    text-transform: none;
                }
            }
        }
        .entry-datetime {
            a {
                color: #000;
                font-size: 14px;
            }
        }
        #tab-comments {
            .entry-title{
                a {
                    margin-right: 5px;
            } 
        }
    }
    
    } // .tab-content
    .tab-content-easy {
        padding-top: 5px;
    }
//} // .widget-tabbed

/*.widget-tags { */

    .tag-cloud {
        li {
            border: 1px solid #dddddd;
            color: #000;
            display: inline-block;
            margin: 0 1px 5px 0;
            transition: all 1s;
            a {
                display: block;
                padding: 10px;
                color: #000;
            }
            &:hover {
                background-color: $mainColor;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
//} // .widget-tags

.widget-newsletter {

    #newsletterform {
        position: relative;
    }
    input {
        border: 1px solid #dddddd;
        padding: 14px 57px 14px 14px;
        width: 100%;
        font-family: 'latoitalic';
        color: #dddddd;
        &:focus {
            outline: none;
        }
    }
    button {
        background: none repeat scroll 0 0 $secondColor;
        border: medium none;
        font-size: 12px;
        height: 49px;
        line-height: 20px;
        padding: 15px 20px;
        position: absolute;
        right: 0;
        top: 0;
    }
} // .widget-newsletter


.widget-latest-post .media {
	margin-bottom: 20px;
	position: relative;
}
.widget-latest-post img {
	width: 100%;
	height: auto;
}


/*
.nav-tabs > li.active > a, aside .nav-tabs > li:hover > a {
	border-top: 3px solid #000 !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

*/

.entry-thumbnail {
	border: 1px solid #ddd;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.post .entry-thumbnail {
	overflow: hidden;
	float: none;
	margin-right: 0px;
	margin-bottom: 0px;
	position: relative;
}
.post .entry-content {
	line-height: 1.333;
}
.post .entry-main {
	background: none repeat scroll 0 0 #f4f4f4;
	padding: 30px;
	position: relative;
}
.post .entry-title {
	margin: 0 0 10px 0;
	padding: 0;
	text-transform: uppercase;
	clear: both;
}
.post .entry-title > a {
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.post .entry-content {
	margin-bottom: 10px;
	transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-ms-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-moz-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
	-webkit-transition: all 0.3s cubic-bezier(0, 0.3, 0.5, 0.2);
}
.entry-header {
	margin-bottom: 10px;
	position: relative;
}
