.subscribe-container {
    margin-bottom: 60px;

    .cd-form-wrapper {
        margin: 0 auto;
        max-width: 555px;
        position: relative;

        .heading-wrap {
            margin: 0 auto 40px;

            .logo-container-subscribe {
                width: 50%;
            }
           
            .section-heading-subscribe {
                font-weight: normal;
                font-size: 30px;
                @media only screen and (max-width: 450px) {
                    font-size: 22px;
                  }
            }
        } // .heading-wrap
    } // .cd-form-wrapper

    .cd-email {
        background: none repeat scroll 0 0 transparent !important;
        border: 2px solid #fff;
        left: 0;
        top: 0;
        padding: 10px 10px 10px 35px;
        transition: height 0.3s, background-color 0.3s;
        z-index: 1;
        font-size: 20px;
        width: 100%;
        bottom: 0;
        color: $white;
        margin-bottom: 15px;
            &:focus {
                outline: none;
            }
    }
}

