.subscribe-container {

    .cd-form-wrapper {
        margin: 0 auto;
        max-width: 555px;
        position: relative;

        .heading-wrap {
            margin: 0 auto 40px;

            .logo-container-subscribe {
                width: 50%;
            }
            .section-heading-subscribe {
                font-weight: normal;
                font-size: 30px;
            }
        } // .heading-wrap

    } // .cd-form-wrapper

    .cd-email {
        background: none repeat scroll 0 0 transparent !important;
        border: 2px solid #fff;
        left: 0;
        top: 0;
        padding: 10px 10px 10px 35px;
        transition: height 0.3s, background-color 0.3s;
        z-index: 1;
        font-size: 20px;
        width: 100%;
        bottom: 0;
        color: $white;
        margin-bottom: 15px;
            &:focus {
                outline: none;
            }
    }
    

}



/*
.cd-form .cd-loading {
    position: absolute;
    left: 0;
    height: 3%;
    width: 100%;
    background-color: #fff;
    bottom: -8px;
    transform-origin: 0 50%;  
    transform: scaleX(0);
    visibility: hidden;
    transition: transform 3s;
    z-index: 3;
}
.cd-response.cd-response-error {
    background-color: #ffc908;
}
.cd-response {
    bottom: 50px;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    text-transform: uppercase;
    transform: translateY(-20px);
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    visibility: hidden;
    width: 100%;
    z-index: 3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 3;
    transform: translateY(-20px);
    transition: transform 0.3s 0s, opacity 0.3s 0s, visibility 0s .3s;
}
*/